<launch>
    <arg name="robots"/>
   <!-- <node name ="cameraNode" pkg= "urobot" type="camera_node" output = "screen" /> -->
    <node name ="cameraBase" pkg="camera_base" type="camera_base_node" />
    <remap from="/camera" to="/camera_image"/>
    <!--<node name ="locationNode" pkg= "urobot" type="location_node" output="screen" args="$(arg robots)"/>-->
    <node name ="joynode" pkg= "joy" type= "joy_node" output = "screen"/>
    <node name ="communicationNode" pkg= "urobot" type= "communication_node" output="screen" args = "$(arg robots)"/>
    <node name ="activityNode" pkg = "urobot" type="activity_node" output="screen" args = "$(arg robots)"/>
    <node name ="initNode" pkg="urobot" type="urobot_init_node" output="screen" args="$(arg robots)"/>
</launch>
